<header class="w-80 h-full  flex flex-col px-4">
  <button class="bg-[#ECECEC] p-2 rounded-sm flex items-center gap-3">
    <img src="https://lh3.googleusercontent.com/a/ACg8ocI_ZTkE2OhZF1NARVh0We6XfEJOv-yjMGgJROmB85Wlq3Mpz0_S=s96-c"
      class="aspect-square h-7 rounded-full " alt="">
    <p class="text-sm">Abdul Mateen</p>
  </button>
  <a class="p-2 flex items-center gap-3 mt-1 text-gray-500 cursor-pointer text-xs"
    [routerLink]="['/journal/all-habits']" routerLinkActive="bg-[#2A67F4] rounded-md text-white active">
    <i class="fa-solid fa-folder"></i>
    <p class="text-sm">All Habits</p>
  </a>
  <details open class="text-gray-500 text-xs mt-4">
    <summary class="">TIME OF DAY</summary>
    <a class="p-2 flex items-center gap-3 mt-1 cursor-pointer" [routerLink]="['/journal/morning']"
      routerLinkActive="bg-[#2A67F4] rounded-md text-white active">
      <i class="fa-solid fa-mountain-sun"></i>
      <p class="text-sm">Morning</p>
    </a>
    <a class="p-2 flex items-center gap-3 mt-1 cursor-pointer" [routerLink]="['/journal/afternoon']"
      routerLinkActive="bg-[#2A67F4] rounded-md text-white active">
      <i class="fa-solid fa-sun"></i>
      <p class="text-sm">Afternoon</p>
    </a>
    <a class="p-2 flex items-center gap-3 mt-1  cursor-pointer" [routerLink]="['/journal/evening']"
      routerLinkActive="bg-[#2A67F4] rounded-md text-white active">
      <i class="fa-solid fa-moon scale-110 ml-[2px]"></i>
      <p class="text-sm">Evening</p>
    </a>
  </details>

  <details open class="text-gray-500 text-xs mt-4">
    <summary>PREFERENCES</summary>
    <a class="p-2 flex items-center gap-3 mt-1 text-gray-500 cursor-pointer" (click)="triggerOffMode()">
      <i class="fa-solid fa-umbrella-beach"></i>
      <p class="text-sm">Off Mode</p>
    </a>
  </details>
</header>
