<section class="flex items-stretch group">
  <div class="flex flex-1 px-4 py-6">
    <i class="fas fa-check-circle text-green-500 aspect-square text-2xl"></i>
    <div class="flex flex-1 flex-col ml-4">
      <span class="text-sm"
        [ngClass]="{'line-through text-gray-500': habit.status === HabitStatus.COMPLETED || habit.status === HabitStatus.SKIPPED, 'text-red-500': habit.status === HabitStatus.FAILED || habit.status === HabitStatus.SKIPPED}">{{habit.title}}</span>
      <span class="text-xs text-gray-500"
        [ngClass]="{'text-gray-400':habit.status === HabitStatus.COMPLETED}">{{habit.progress + ' '}}/{{'
        '+habit.frequency}}</span>
    </div>
  </div>

  <div class="w-px bg-gray-200 ml-auto invisible group-hover:visible"></div>

  <div class="flex items-center invisible group-hover:visible">
    <div class="flex flex-col px-4 py-6">
      <p class="text-xs">Add Times</p>
      <input type="number"
        class="border-0 border-b border-b-gray-300 focus:border-b-blue-500 outline-none px-2 py-1 text-sm w-24 text-blue-600"
        value="0" pattern="^[0-9]*$" #input />
    </div>
    <i class="fa-solid fa-check text-blue-600 mx-3 p-1 text-sm bg-gray-200 rounded-md"
      (click)="addProgress(input.value)"></i>
  </div>
  <div class="w-px bg-gray-200 ml-auto invisible group-hover:visible"></div>
  <i class="fa-solid fa-ellipsis text-gray-600 my-auto mx-3 p-1 text-lg invisible group-hover:visible"></i>
</section>
<hr class="ml-16" />
