<div class="flex border-t-2 items-center h-9">
  <button class="text-blue-600" (click)="isCreatingHabit = true">
    <i class="fa-solid fa-plus my-auto mx-3 p-1 text-lg "></i>
    <span class="text-sm">Add Habit</span>
  </button>

  <!-- <div class="flex justify-end ml-auto">

    <p class="text-gray-500 text-xs ml-auto">No Habit Selected</p>
    <div class="w-px bg-gray-200 ml-auto invisible group-hover:visible"></div>
    <button></button>
  </div> -->

</div>

<app-create-habit *ngIf="isCreatingHabit" [onClose]="closeCreateHabit"></app-create-habit>
